.h5	{
	font-family: 'Josefin Slab';
}

.li{
	font-family: 'arial';
}

#header {
	position:fixed;
	top:0;left:0;
	right:0;height:100px;
	background-color: gray;
}

#img1{
	height:100%;
    width:100%;
}

#f1 {
	color:white;
	width: 23%;
	position:center;
	float:left;
	padding:10px;
}

#f2 {
	color:white;
	width: 23%;
	position:center;
	float:left;
	padding:10px;
}

#f3 {
	color:white;
	width: 23%;
	position:center;
	float:left;
	padding:10px;
}

#f4 {
	color:white;
	width: 23%;
	position:center;
	float:left;
	padding:10px;
}

#red {
	height:200px;
	width: 200px;
	margin:10px auto; 
    background:red
}

#blue {
    height:200px;
	width: 200px;
	margin:10px auto; 
    background:blue

}

#green {
    height:200px;
	width: 200px;
	margin:10px auto; 
    background:green;
}

#white {
    height:200px;
	width: 200px;
	margin:10px auto; 
    background:white;
}

#orange {
    height:200px;
	width: 200px;
	margin:10px auto; 
    background:orange
}

#purple {
    height:200px;
	width: 200px;
	margin:10px auto; 
    background:purple

}