#menu{
	float: left;
	text-align: left;
	overflow: visible;
	list-style-type: none;
	cursor: default;
	font-family: 'open sans' , sans-serif;
}

	#menu:hover .dropdown-main {
		display: inline-block;
		position: relative;
	}

.branding {
	float: right;
	padding: 15px;
	width: 33%;
}


.list{
	float: left;
	padding: 2px;
	box-sizing: content-box;
	position: absolute;
	line-height: 1;
	border: 0;
}

.dropbtn{
	cursor: pointer;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	list-style-type: none;
}

.dropdown-content a {
	display: inline-block;
	background: black;
	color: white;
	text-decoration: none;
	padding: 5px;
	width: 85px;
	text-align: center;
}

.dropdown a {
	color: white;
	text-decoration: none;
}

	.dropdown:hover .dropdown-content {
		display: inline-block;
	}



.dropdown-main {
	display: none;
	color: white;
}

.menubtn {
	color: white;
	margin: 25px 25px;
}

.boxes {
	height:200px;
	width: 200px;
	margin:10px auto;
}

.header {
	width: 100%;
    height: 125px;  
    background: black;
    position: fixed;
    top: 0;
    margin-bottom: 10px
}

.footer {
	color:white;
	height: 160px;
}

#f1{
 width:23%;
 padding: 10px;
 float:left;
}

#f2{
 width:23%;
 padding: 10px;
 float:left;
}

#f3{
 width:23%;
 padding: 10px;
 float:left;
}

#f4{
 width:23%;
 padding: 10px;
 float:left;
}